/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800,900&subset=cyrillic");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.clearfix:after, .container:after, header:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

.fancybox-content {
  padding: 0 0 0 0 !important;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  margin: 0 0 0 0 !important;
  max-width: 30%;
  overflow: hidden !important;
  position: relative;
  text-align: left;
  vertical-align: none !important; }

.fancybox-active {
  overflow: hidden; }
  .fancybox-active .fancybox-content {
    z-index: 9999999;
    background: #fff;
    display: inline-block;
    max-width: 100%;
    width: 102%;
    height: 102%;
    overflow: auto;
    padding: 24px;
    position: relative;
    text-align: left;
    vertical-align: middle; }

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Nunito-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Nunito-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Nunito-ExtraBold.ttf") format("truetype"); }

/*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:35
    */
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg"); } }

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.flaticon-avatar:before {
  content: "\f100"; }

.flaticon-avatar-1:before {
  content: "\f101"; }

.flaticon-back:before {
  content: "\f102"; }

.flaticon-book:before {
  content: "\f103"; }

.flaticon-cancel:before {
  content: "\f104"; }

.flaticon-chat:before {
  content: "\f105"; }

.flaticon-chat-1:before {
  content: "\f106"; }

.flaticon-chat-2:before {
  content: "\f107"; }

.flaticon-copy:before {
  content: "\f108"; }

.flaticon-dislike:before {
  content: "\f109"; }

.flaticon-download:before {
  content: "\f10a"; }

.flaticon-download-1:before {
  content: "\f10b"; }

.flaticon-edit:before {
  content: "\f10c"; }

.flaticon-envelope:before {
  content: "\f10d"; }

.flaticon-folder:before {
  content: "\f10e"; }

.flaticon-garbage:before {
  content: "\f10f"; }

.flaticon-glasses:before {
  content: "\f110"; }

.flaticon-hand:before {
  content: "\f111"; }

.flaticon-headphones:before {
  content: "\f112"; }

.flaticon-heart:before {
  content: "\f113"; }

.flaticon-house:before {
  content: "\f114"; }

.flaticon-like:before {
  content: "\f115"; }

.flaticon-link:before {
  content: "\f116"; }

.flaticon-logout:before {
  content: "\f117"; }

.flaticon-magnifying-glass:before {
  content: "\f118"; }

.flaticon-monitor:before {
  content: "\f119"; }

.flaticon-musical-note:before {
  content: "\f11a"; }

.flaticon-next:before {
  content: "\f11b"; }

.flaticon-next-1:before {
  content: "\f11c"; }

.flaticon-padlock:before {
  content: "\f11d"; }

.flaticon-paper-plane:before {
  content: "\f11e"; }

.flaticon-phone-call:before {
  content: "\f11f"; }

.flaticon-photo-camera:before {
  content: "\f120"; }

.flaticon-pie-chart:before {
  content: "\f121"; }

.flaticon-piggy-bank:before {
  content: "\f122"; }

.flaticon-placeholder:before {
  content: "\f123"; }

.flaticon-printer:before {
  content: "\f124"; }

.flaticon-reload:before {
  content: "\f125"; }

.flaticon-settings:before {
  content: "\f126"; }

.flaticon-settings-1:before {
  content: "\f127"; }

.flaticon-share:before {
  content: "\f128"; }

.flaticon-shopping-bag:before {
  content: "\f129"; }

.flaticon-shopping-cart:before {
  content: "\f12a"; }

.flaticon-shuffle:before {
  content: "\f12b"; }

.flaticon-speaker:before {
  content: "\f12c"; }

.flaticon-star:before {
  content: "\f12d"; }

.flaticon-tag:before {
  content: "\f12e"; }

.flaticon-upload:before {
  content: "\f12f"; }

.flaticon-upload-1:before {
  content: "\f130"; }

.flaticon-vector:before {
  content: "\f131"; }

html {
  overflow-x: hidden !important; }

body {
  font-family: "Nunito", sans-serif !important;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

p, a, span {
  font-weight: 500; }

a {
  text-decoration: none;
  outline: 0 !important; }

#wrapper {
  overflow-x: hidden !important; }

* {
  outline: 0 !important; }

i {
  font-family: "Flaticon"; }

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 1023px) {
    .container {
      padding: 0 24px; } }
  @media (max-width: 767px) {
    .container {
      padding: 0 15px; } }

section {
  position: relative;
  padding: 100px 0;
  height: 760px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: #4f4f4f !important; }
  section .heading h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 15px;
    font-weight: 900;
    color: #D0011B; }
    section .heading h2.white {
      color: #fff; }
  section .heading p {
    font-size: 18px;
    margin-bottom: 60px;
    line-height: 20px;
    font-weight: 500; }
  section .heading .article {
    max-width: 1050px;
    margin: 0 auto;
    margin-bottom: 60px;
    font-weight: 500; }

header {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 99999999; }
  header.fixed {
    position: fixed;
    top: -200px;
    background: #fff;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
    header.fixed .container {
      position: relative; }
      header.fixed .container ul li a {
        color: #4a4a4a !important; }
      header.fixed .container .phone a {
        color: #4a4a4a; }
      header.fixed .container .cart-icon i {
        color: #4a4a4a; }
  header.slideDown {
    top: 0;
    -webkit-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s; }
  header .container {
    height: 50px;
    padding-top: 15px;
    position: relative; }
    header .container #logo {
      position: absolute;
      left: 15px;
      top: 25px;
      height: 30px;
      width: 160px;
      display: inline-block;
      z-index: 99999999; }
    header .container nav {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      height: 50px;
      width: 100%;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      header .container nav a {
        font-family: "Montserrat", sans-serif !important; }
      header .container nav .main-nav {
        height: 100%;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-align-content: center;
            -ms-flex-line-pack: center;
                align-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        header .container nav .main-nav li {
          margin-right: 35px; }
          header .container nav .main-nav li a {
            line-height: 60px;
            color: #fff;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase; }
      header .container nav #slide-line {
        position: absolute;
        bottom: 5px;
        left: 20px;
        height: 2px;
        background-color: #D0011B;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
    header .container .phone {
      display: inline-block;
      max-width: 150px;
      position: absolute;
      bottom: 2px;
      right: 20%;
      -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
              transform: translateX(100%);
      z-index: 99999999; }
      header .container .phone a {
        font-size: 13px;
        font-weight: 600;
        color: #fff;
        -webkit-transition: 0.5s color;
        -o-transition: 0.5s color;
        transition: 0.5s color;
        font-family: "Montserrat", sans-serif !important; }
        header .container .phone a i {
          font-size: 20px;
          margin-right: 10px;
          position: relative;
          bottom: -2px; }
        header .container .phone a:hover {
          color: #D0011B;
          -webkit-transition: 0.5s color;
          -o-transition: 0.5s color;
          transition: 0.5s color; }
    header .container .cart-icon {
      position: absolute;
      height: 30px;
      width: 30px;
      right: 15px;
      top: 50%;
      -webkit-transform: translateY(0%);
          -ms-transform: translateY(0%);
              transform: translateY(0%);
      color: #fff;
      display: inline-block; }
      header .container .cart-icon i {
        font-size: 23px;
        line-height: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-100%, -50%);
            -ms-transform: translate(-100%, -50%);
                transform: translate(-100%, -50%); }
      header .container .cart-icon .items-in-bag {
        display: inline-block;
        height: 20px;
        width: 20px;
        background: #D0011B;
        color: #fff;
        font-size: 12px;
        line-height: 20px;
        position: absolute;
        top: -5px;
        right: 1px;
        text-align: center;
        -webkit-border-radius: 50%;
                border-radius: 50%; }

.intro-section {
  height: 92vh;
  padding: 0;
  padding-top: 80px;
  margin-top: -80px;
  margin-bottom: 100px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }
  .intro-section .item-info {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    width: 80% !important;
    height: 120px;
    max-width: 800px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 20%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #fff;
    z-index: 9999999;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 6px;
            border-radius: 6px; }
    .intro-section .item-info .col {
      padding: 30px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 36px;
      font-weight: 900;
      letter-spacing: 2.1px;
      color: #4a4a4a;
      height: 100%;
      width: 20%;
      text-align: left; }
      .intro-section .item-info .col span {
        text-align: left;
        font-size: 18px;
        letter-spacing: 1px;
        display: block;
        font-weight: 700;
        margin-bottom: 25px; }
  .intro-section .container {
    height: 92vh;
    position: relative; }
  .intro-section .social-intro {
    height: 90px;
    width: 30px;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 9999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .intro-section .social-intro li a {
      color: #fff;
      font-size: 20px;
      -webkit-transition: 0.3s color;
      -o-transition: 0.3s color;
      transition: 0.3s color; }
      .intro-section .social-intro li a:hover {
        color: #D0011B;
        -webkit-transition: 0.3s color;
        -o-transition: 0.3s color;
        transition: 0.3s color; }
  .intro-section .slick-slider {
    width: 100%;
    height: 92vh; }
    .intro-section .slick-slider .slide {
      height: 92vh;
      position: relative; }
      .intro-section .slick-slider .slide .slide-content {
        height: 100%;
        width: 100%; }
      .intro-section .slick-slider .slide .heading {
        position: absolute;
        left: 50%;
        top: 21%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        text-transform: uppercase;
        font-family: "Nunito", sans-serif !important;
        font-size: 80px;
        color: #fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        font-weight: 900;
        z-index: 3;
        height: 120px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-align-content: center;
            -ms-flex-line-pack: center;
                align-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        text-shadow: 5px 0 10px rgba(0, 0, 0, 0.1); }
        .intro-section .slick-slider .slide .heading .left {
          height: 100%;
          position: relative;
          overflow: hidden;
          width: 50%;
          text-align: right; }
          .intro-section .slick-slider .slide .heading .left h1 {
            display: inline-block;
            position: absolute;
            text-align: right;
            right: 20px;
            bottom: 0;
            text-align: right;
            -webkit-transition: 0.3s ease-in-out right;
            -o-transition: 0.3s ease-in-out right;
            transition: 0.3s ease-in-out right;
            z-index: 3; }
        .intro-section .slick-slider .slide .heading .right {
          height: 100%;
          position: relative;
          overflow: hidden;
          width: 50%;
          text-align: left; }
          .intro-section .slick-slider .slide .heading .right h1 {
            display: inline-block;
            text-align: left;
            position: absolute;
            left: 20px;
            bottom: 0;
            -webkit-transition: 0.3s ease-in-out left;
            -o-transition: 0.3s ease-in-out left;
            transition: 0.3s ease-in-out left;
            z-index: 3; }
      .intro-section .slick-slider .slide .img {
        position: absolute;
        height: 60%;
        width: 60%;
        top: 56%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
        .intro-section .slick-slider .slide .img img {
          height: 100%;
          width: auto;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
        .intro-section .slick-slider .slide .img:before {
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          height: 65%;
          width: 35%;
          -webkit-box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.3);
                  box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.3);
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          background: #222; }
    .intro-section .slick-slider .slide-1 {
      background-color: #EB8C24; }
    .intro-section .slick-slider .slide-2 {
      background-color: #94C44D; }
    .intro-section .slick-slider .slide-3 {
      background-color: #EA5A5A; }
    .intro-section .slick-slider .slick-dots {
      width: 160px;
      position: absolute;
      bottom: 90px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .intro-section .slick-slider .slick-dots li {
        margin-right: 8px; }
        .intro-section .slick-slider .slick-dots li button {
          -webkit-border-radius: 50% !important;
                  border-radius: 50% !important;
          width: 16px !important;
          height: 18px;
          max-width: 16px !important;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          border: 3px solid #D0011B;
          background-color: transparent !important;
          content: "" !important;
          font-size: 0 !important;
          cursor: pointer;
          -webkit-transition: background-color 1s;
          -o-transition: background-color 1s;
          transition: background-color 1s; }
        .intro-section .slick-slider .slick-dots li.slick-active button {
          background-color: #D0011B !important;
          -webkit-transition: background-color 1s;
          -o-transition: background-color 1s;
          transition: background-color 1s; }
  .intro-section .slick-prev {
    cursor: pointer;
    width: 65px;
    height: 65px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 30px;
    background: #D0011B;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s; }
    .intro-section .slick-prev i {
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      text-align: center; }
    .intro-section .slick-prev:hover {
      background: #840111;
      -webkit-transition: background 0.3s;
      -o-transition: background 0.3s;
      transition: background 0.3s; }
  .intro-section .slick-next {
    cursor: pointer;
    width: 65px;
    height: 65px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 30px;
    background: #D0011B;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s; }
    .intro-section .slick-next i {
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      text-align: center; }
    .intro-section .slick-next:hover {
      background: #840111;
      -webkit-transition: background 0.3s;
      -o-transition: background 0.3s;
      transition: background 0.3s; }

.about-section .about-badges {
  max-width: 800px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto; }
  .about-section .about-badges .item {
    text-align: center;
    max-width: 170px; }
    .about-section .about-badges .item h6 {
      font-weight: 900;
      margin-bottom: 20px;
      font-size: 18px;
      text-transform: uppercase; }
    .about-section .about-badges .item .svg {
      margin: 0 auto;
      height: 150px;
      width: 150px; }

.live-section {
  position: relative;
  height: 740px;
  background: #FF5859; }
  .live-section .heading {
    color: #fff; }
  .live-section .live-video {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 750px;
    height: 400px;
    overflow: hidden;
    -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.2);
    border: 10px solid #fff;
    -webkit-border-radius: 10px;
            border-radius: 10px; }

.catalog-presentation {
  height: 750px;
  margin: 100px 0;
  padding: 0; }
  .catalog-presentation .catalog-presentation-wrapper {
    width: 100%;
    padding: 0;
    height: 550px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .catalog-presentation .catalog-presentation-wrapper .item {
      display: block;
      float: right;
      width: 22%;
      margin: 1%;
      height: 47%;
      position: relative;
      overflow: hidden;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-border-radius: 6px;
              border-radius: 6px; }
      .catalog-presentation .catalog-presentation-wrapper .item .descr-content {
        padding: 10px;
        text-align: left;
        position: absolute;
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        height: auto;
        height: 30%;
        background: rgba(0, 0, 0, 0.5);
        left: 50%;
        bottom: 0;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        color: #fff;
        -webkit-transition: 0.5s height;
        -o-transition: 0.5s height;
        transition: 0.5s height; }
        .catalog-presentation .catalog-presentation-wrapper .item .descr-content .description {
          display: none; }
        .catalog-presentation .catalog-presentation-wrapper .item .descr-content .title {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 15px;
          font-weight: bold;
          color: #fff;
          max-width: 80%; }
      .catalog-presentation .catalog-presentation-wrapper .item .current-price {
        font-size: 22px;
        font-weight: bold;
        color: #fff;
        position: absolute;
        bottom: 10px; }
        .catalog-presentation .catalog-presentation-wrapper .item .current-price .grn {
          font-size: 14px;
          font-weight: 700;
          display: inline-block;
          margin-left: 5px; }
      .catalog-presentation .catalog-presentation-wrapper .item .item-img {
        height: 100%;
        width: 100px; }
        .catalog-presentation .catalog-presentation-wrapper .item .item-img img {
          width: 100%;
          height: auto;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
      .catalog-presentation .catalog-presentation-wrapper .item:first-child {
        float: left;
        width: 50%;
        height: 98%;
        clear: right; }
      .catalog-presentation .catalog-presentation-wrapper .item .btn-cart {
        position: absolute;
        bottom: 10px;
        right: 10px;
        height: 45px;
        width: 45px;
        background: #D0011B;
        display: block;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        position: absolute;
        -webkit-transition: background 0.3s;
        -o-transition: background 0.3s;
        transition: background 0.3s;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-align-content: center;
            -ms-flex-line-pack: center;
                align-content: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .catalog-presentation .catalog-presentation-wrapper .item .btn-cart i {
          display: inline-block;
          font-size: 20px;
          color: #fff; }
        .catalog-presentation .catalog-presentation-wrapper .item .btn-cart:hover {
          background: #840111;
          -webkit-transition: background 0.3s;
          -o-transition: background 0.3s;
          transition: background 0.3s; }
      .catalog-presentation .catalog-presentation-wrapper .item:hover .descr-content {
        height: 100%;
        -webkit-transition: 0.5s height;
        -o-transition: 0.5s height;
        transition: 0.5s height; }
  .catalog-presentation .bottom-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    .catalog-presentation .bottom-container .tags {
      width: 75%;
      float: left;
      text-align: left; }
      .catalog-presentation .bottom-container .tags li {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 10px;
        height: 25px;
        -webkit-border-radius: 15px;
                border-radius: 15px;
        background: #C5C5C5;
        -webkit-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        transition: background-color 0.3s; }
        .catalog-presentation .bottom-container .tags li a {
          padding: 0 10px;
          font-size: 14px;
          color: #fff;
          line-height: 25px;
          text-align: center; }
        .catalog-presentation .bottom-container .tags li:hover {
          background: #D0011B;
          -webkit-transition: background-color 0.3s;
          -o-transition: background-color 0.3s;
          transition: background-color 0.3s; }
    .catalog-presentation .bottom-container .btn-catalog {
      height: 60px;
      line-height: 60px;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      width: 22%;
      float: right;
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      background: #D0011B;
      -webkit-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;
      transition: background-color 0.3s; }
      .catalog-presentation .bottom-container .btn-catalog:hover {
        background: #840111;
        -webkit-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        transition: background-color 0.3s; }

.link-section {
  position: relative;
  padding: 0; }
  .link-section .container {
    height: 500px; }
  .link-section a {
    position: relative;
    display: block;
    float: right;
    height: 46%;
    margin: 2%;
    width: 31%;
    -webkit-background-size: cover;
            background-size: cover; }
    .link-section a:first-child {
      float: left;
      width: 61%;
      height: 101%;
      float: left; }
      .link-section a:first-child .descr {
        opacity: 1;
        height: 25%;
        width: 60%; }
        .link-section a:first-child .descr h3 {
          font-weight: 700;
          font-size: 38px;
          margin-bottom: 10px; }
        .link-section a:first-child .descr p {
          font-size: 14px;
          line-height: 1.71; }
    .link-section a.about {
      background: url("../img/about-background.jpg") no-repeat center center; }
    .link-section a.delivery {
      background: url("../img/delivery-background.jpg") no-repeat center center; }
    .link-section a.sale {
      background: url("../img/sale-background.jpg") no-repeat center center; }
    .link-section a .descr {
      opacity: 0;
      -webkit-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s;
      height: 55%;
      width: 75%;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background: #fff;
      -webkit-border-radius: 6px;
              border-radius: 6px;
      padding: 5%;
      color: #343538;
      text-align: left;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .link-section a .descr h3 {
        font-weight: 700;
        font-size: 28px;
        margin-bottom: 10px; }
      .link-section a .descr p {
        width: 100%;
        text-align: left;
        font-size: 14px;
        line-height: 1.5;
        max-height: 40px;
        overflow-y: hidden; }
    .link-section a:hover .descr {
      opacity: 1;
      -webkit-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }

.catalog-section {
  width: 100%;
  height: 100%;
  padding: 0;
  padding-top: 100px;
  position: relative; }
  .catalog-section .container {
    position: relative; }
  .catalog-section .filter-top {
    width: 75%;
    float: right;
    height: 70px;
    position: relative; }
    .catalog-section .filter-top .select-block {
      position: absolute;
      top: 0;
      right: 10px; }
      .catalog-section .filter-top .select-block label {
        font-size: 12px;
        color: #4a4a4a;
        letter-spacing: 1.2px; }
      .catalog-section .filter-top .select-block i {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9999999; }
      .catalog-section .filter-top .select-block select.sort-by {
        border: 0 !important;
        font-size: 12px;
        color: #4a4a4a;
        cursor: pointer;
        outline: none;
        word-spacing: 2px;
        position: relative; }
        .catalog-section .filter-top .select-block select.sort-by + label:before {
          display: none; }
        .catalog-section .filter-top .select-block select.sort-by:after {
          display: block;
          position: absolute;
          right: 0;
          content: "\f107";
          font-family: "Font Awesome 5 Free"; }
        .catalog-section .filter-top .select-block select.sort-by:after:focus {
          outline: 0;
          background: #e5e5e5; }
        .catalog-section .filter-top .select-block select.sort-by option {
          background: #fff;
          border: 0 !important;
          font-size: 12px;
          word-spacing: 3px;
          cursor: pointer;
          padding: 10px 0;
          outline: none !important; }
          .catalog-section .filter-top .select-block select.sort-by option:hover {
            background: #4a4a4a !important;
            color: #fff; }
          .catalog-section .filter-top .select-block select.sort-by option:focus {
            background: #4a4a4a !important;
            color: #fff; }
  .catalog-section .filter-side {
    float: left;
    width: 22%;
    height: 500px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .catalog-section .filter-side input[type='checkbox'] {
      height: 18px;
      width: 18px;
      border: 1px solid #415167;
      background: #fff; }
      .catalog-section .filter-side input[type='checkbox']:checked {
        background: #4f4f4f;
        color: #fff; }
    .catalog-section .filter-side .styled-checkbox {
      font-family: 'Source Sans Pro', sans-serif;
      position: absolute;
      opacity: 0; }
      .catalog-section .filter-side .styled-checkbox + label {
        position: relative;
        cursor: pointer;
        padding: 0; }
      .catalog-section .filter-side .styled-checkbox + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: white;
        border: 2px solid #F2F2F2; }
      .catalog-section .filter-side .styled-checkbox:checked + label:before {
        background: #4a4a4a; }
      .catalog-section .filter-side .styled-checkbox:disabled + label {
        color: #b8b8b8;
        cursor: auto; }
      .catalog-section .filter-side .styled-checkbox:disabled + label:before {
        -webkit-box-shadow: none;
                box-shadow: none;
        background: #ddd; }
      .catalog-section .filter-side .styled-checkbox:checked + label:after {
        content: '';
        position: absolute;
        left: 7px;
        top: 11px;
        background: white;
        width: 2px;
        height: 2px;
        -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
                box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
    .catalog-section .filter-side .filter-block {
      margin-bottom: 60px; }
    .catalog-section .filter-side .range-price {
      width: 88%; }
      .catalog-section .filter-side .range-price .label {
        font-size: 14px;
        font-weight: bold;
        color: #4a4a4a; }
      .catalog-section .filter-side .range-price input#amount {
        font-size: 12px;
        letter-spacing: 0.3px;
        color: #4a4a4a; }
    .catalog-section .filter-side .ui-slider {
      margin: 20px 0;
      height: 4px !important;
      cursor: pointer;
      border: 0 !important;
      background-color: rgba(0, 0, 0, 0.05) !important; }
    .catalog-section .filter-side .ui-slider-range {
      height: 4px !important;
      background: #4f4f4f; }
    .catalog-section .filter-side .ui-slider-handle {
      cursor: pointer;
      height: 8px !important;
      width: 8px !important;
      -webkit-border-radius: 50% !important;
              border-radius: 50% !important;
      background: #4f4f4f;
      border: 0 !important;
      -webkit-transform: translate(40%, 35%);
          -ms-transform: translate(40%, 35%);
              transform: translate(40%, 35%); }
    .catalog-section .filter-side h6 {
      font-weight: 700;
      margin-bottom: 25px;
      letter-spacing: 1px;
      font-size: 12px;
      text-transform: uppercase;
      color: #33333a; }
    .catalog-section .filter-side li {
      color: #737680;
      margin-bottom: 20px;
      font-size: 12px; }
  .catalog-section .catalog-container {
    float: right;
    width: 78%;
    height: 100%;
    position: relative; }
    .catalog-section .catalog-container .items-container {
      height: 100%;
      width: 100%;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
  .catalog-section .item {
    height: 470px !important;
    width: 30%;
    display: block !important; }
    .catalog-section .item .item-content {
      position: relative;
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .catalog-section .item .item-content .item-img {
        width: 100%;
        height: 350px;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px; }
        .catalog-section .item .item-content .item-img img {
          height: 100%;
          width: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
      .catalog-section .item .item-content .description {
        display: none; }
      .catalog-section .item .item-content .title {
        padding-left: 10px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font-size: 16px;
        line-height: 1.2;
        font-weight: bold;
        color: #4a4a4a;
        max-width: 70%;
        text-align: left;
        margin-bottom: 10px; }
      .catalog-section .item .item-content .item-price .current-price {
        padding-left: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #4a4a4a; }
      .catalog-section .item .item-content .new {
        position: absolute;
        top: 0;
        left: 0;
        width: 35px;
        height: 15px;
        text-align: center;
        line-height: 15px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        color: #D0011B;
        background: transparent; }
      .catalog-section .item .item-content .btn-cart {
        height: 45px;
        width: 45px;
        background: #D0011B;
        display: block;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        position: absolute;
        bottom: 50px;
        right: 10px;
        -webkit-transition: background 0.3s;
        -o-transition: background 0.3s;
        transition: background 0.3s;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-align-content: center;
            -ms-flex-line-pack: center;
                align-content: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .catalog-section .item .item-content .btn-cart i {
          display: inline-block;
          font-size: 15px;
          color: #fff; }
        .catalog-section .item .item-content .btn-cart:hover {
          background: #840111;
          -webkit-transition: background 0.3s;
          -o-transition: background 0.3s;
          transition: background 0.3s; }
  .catalog-section .pagination {
    margin-top: 50px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    width: 100%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .catalog-section .pagination ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .catalog-section .pagination ul li {
        margin-right: 25px; }
        .catalog-section .pagination ul li a {
          font-size: 14px;
          color: #737680;
          font-weight: bold; }
        .catalog-section .pagination ul li.active a {
          color: #212224; }
      .catalog-section .pagination ul .paginationjs-prev {
        position: absolute;
        left: 45px;
        -webkit-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
        opacity: 1; }
        .catalog-section .pagination ul .paginationjs-prev.disabled {
          opacity: 0;
          -webkit-transition: opacity 0.5s;
          -o-transition: opacity 0.5s;
          transition: opacity 0.5s; }
        .catalog-section .pagination ul .paginationjs-prev a {
          color: #212224;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 1.4px; }
          .catalog-section .pagination ul .paginationjs-prev a:before {
            font-weight: 600;
            display: block;
            height: 10px;
            width: 10px;
            font-family: "Font Awesome 5 Free";
            content: '\f060';
            position: absolute;
            left: -20px;
            bottom: 4px; }
      .catalog-section .pagination ul .paginationjs-next {
        position: absolute;
        right: 20px;
        -webkit-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
        opacity: 1; }
        .catalog-section .pagination ul .paginationjs-next.disabled {
          opacity: 0;
          -webkit-transition: opacity 0.5s;
          -o-transition: opacity 0.5s;
          transition: opacity 0.5s; }
        .catalog-section .pagination ul .paginationjs-next a {
          color: #212224;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 1.4px; }
          .catalog-section .pagination ul .paginationjs-next a:before {
            font-weight: 600;
            position: absolute;
            display: block;
            height: 10px;
            width: 10px;
            font-family: "Font Awesome 5 Free";
            content: '\f061';
            right: -20px;
            bottom: 4px; }

footer {
  height: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  footer a {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #4f4f4f;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s; }
    footer a:hover {
      color: #D0011B;
      -webkit-transition: color 0.3s;
      -o-transition: color 0.3s;
      transition: color 0.3s; }
  footer .logo-footer {
    text-transform: none !important;
    width: 130px;
    text-align: center;
    margin-bottom: 50px;
    display: block;
    font-size: 29px;
    color: #D0011B;
    font-weight: 900;
    font-family: 'Nunito', sans-serif; }
  footer .footer-nav {
    width: 100%;
    margin-bottom: 50px; }
    footer .footer-nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      footer .footer-nav ul li {
        display: inline-block;
        margin-right: 40px; }
  footer .social {
    width: 200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .social li {
      margin-right: 20px; }
      footer .social li i {
        font-size: 23px;
        color: #A3A5AD;
        -webkit-transition: color 0.3s;
        -o-transition: color 0.3s;
        transition: color 0.3s; }
        footer .social li i:hover {
          color: #4f4f4f;
          -webkit-transition: color 0.3s;
          -o-transition: color 0.3s;
          transition: color 0.3s; }
    footer .social .phone {
      font-weight: 900;
      letter-spacing: 1.5px;
      cursor: pointer; }

.item-full {
  width: 100%;
  height: 100%; }
  .item-full .item-img {
    width: 100%;
    margin: 0 auto;
    height: 600px;
    position: relative;
    overflow: hidden; }
    .item-full .item-img img {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 100%;
      height: auto; }
