
@media screen and (max-width: 767px) {

    #wrapper{
        width: 100%;
        background: 0;
        overflow-x: hidden;
        margin: 0 auto;
    }

    #header-wrapper{
        width: 100%;
        background: url("../img/header-bg.jpg") no-repeat 65%;
        background-size: cover;
        max-height: 1340px;
        position: center;
    }

    #content-wrapper{
        width: 100%;
        position: center;
        background: url("../img/background.jpg") no-repeat top center;
        background-size: cover;
    }

    .container{
        max-width: 640px;
        margin: 0 auto;
    }

    .header-nav{
        display: none;
    }

    .tracking-button-block{
        position: absolute;
        top: -250px;
        right: 50px;
        width: 250px;
        height: 60px;
    }

    .header-center{
        height: 220px;
        top: 30%;
    }

    .tracking-button{
        line-height: 60px;
        height: 60px;
        background-position: right;
        background-size: contain;
        font-size: 32px;
    }


    @media screen and (max-width: 500px){
        .tracking-button-block{
            position: absolute;
            top: -250px;
            right: 10px;
            width: 215px;
            height: 60px;
        }

        .tracking-button{
            font-size: 25px;
            font-weight: bold;
        }
    }


    .tracking-button:hover {
        background-color: rgba(245, 229, 216, 0);
    }

    #logo{
        float: none;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        top: 50%;
        -webkit-transform: translateY(35%);
        -ms-transform: translateY(35%);
        transform: translateY(35%);
    }

    .logo-img{
        width: 80%;
        min-width: 320px;
        max-height: 120px;
        margin: 0 auto;
    }
    .logo-img img{
        width: 100%;
        height: 100%;
    }

    .logo-descr{
        max-width: 380px;
        min-width: 320px;
        float: right;
        margin-top: 15px;
        font-size: 38px;
        letter-spacing: 2px;
        word-spacing: 0px;
    }

    .article-block{
        padding: 0 5px;
    }

    .about-block{
        margin-top: 80px;
    }

    .article {
        margin-bottom: 80px;
    }

    .article-header{
        width: 100%;
        padding: 0 10px;
        margin-left: 0;
    }

    .article p{
        text-align: justify ;
        margin-bottom: 30px;
        text-indent: 40px;
        padding: 0 5px;
    }

    .bonuses{
        display: inline-block;
    }

    .price-items-container{
        margin-top: 0;
        margin-bottom: 790px;
        margin-right: 20px;
    }

    .price-block .article-header{
        width: 100%;
        margin-left: 0;
        font-size: 50px;
    }

    .price-item{
        width: 50%;
        margin-right: 0;

    }

    .price-item:nth-child(1):after{
        width: 30px;
        height: 50px;
        top: 10px;
        left: 110%;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .price-item:nth-child(2){
        position: absolute;
        left: 30%;
        top: 180px;
    }

    .price-item:nth-child(3){
        position: absolute;
        top: 430px;
        left: 0;
    }

    .price-item:nth-child(3):after{
        width: 30px;
        height: 40px;
        top: 30px;
        left: 95%;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .price-item:nth-child(4){
        position: absolute;
        right: -30px;
        top: -60px;
        margin-right: 0;
    }


    .price-item:nth-child(5){
        position: absolute;
        left: 50%;
        bottom: -700px;
        margin-left: -140px;
    }

    .price-item:nth-child(5) img{
        height: 160px;
        width: 280px;
    }

    .price-item:nth-child(6){
        position: absolute;
        right: -20px;
        top: 380px;
        padding-right: 10px;
    }

    .price-item:nth-child(6) img{
        width: 160px;
        height: 90px;
    }

    .item-descr{
        width: 200px;
    }

    .setup-block .article-header{
        font-size: 55px;
    }

    .setup-items-container{
        top: 40px;
        position: relative;
    }

    .setup-item{
        width: 50%;
        margin: 0 0 100px 0;
    }

    .setup-item img{
        max-width: 100px;
    }

    .setup-item .item-descr{
        margin-top: 20px;
        max-width: 200px;
    }

    .setup-item:first-child:after{
        left: 95%;
        width: 30px;
        height: 40px;
    }

    .setup-item:nth-child(1):after{
        top: 20%;
    }

    .setup-item:nth-child(2):after{
        left: 50%;
        margin-left: -20px;
        top: 110%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(  0deg);
        width: 30px;
        height: 40px;
    }

    .setup-item:nth-child(3):after{
        left: 50%;
        margin-left: -20px;
        top: 115%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(  0deg);
        width: 30px;
        height: 40px;
    }
    .setup-item:nth-child(4):after{
        content: '';
        width: 30px;
        height: 40px;
        background: url("../img/arrow.png") no-repeat;
        background-size: contain;
        left: 0;
        margin-left: -20px;
        top: 15%;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);

    }

    .setup-item:nth-child(5):after{
        width: 30px;
        height: 40px;
        left: 95%;
        top: 20%;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .contact-block{
        margin-top: 150px;
    }

    .contact-header{
        margin-bottom: 70px;
    }

    .contacts-list {
        margin: 0;
    }

    .contacts-list li{
        width: 100%;
        margin-bottom: 30px;
    }

    .contacts-list:last-child{
        float: left;
        margin-top: 0;
        margin-bottom: 40px;
    }

}