.text-right {
    text-align: right;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5px;
}

body {
    width: 100%;
    overflow-x: hidden;
}

#wrapper{
    width: 100%;
    font-family: "HelveticaNeueCyr",sans-serif;
    font-weight: lighter;
    overflow-x: hidden;
    background: url("../img/background-alt2.jpg") no-repeat top center;
    min-height: 3720px;
    height: 100%;
    background-size: 100% 4100px;
}

@media screen and (max-width: 1140px) {
    #wrapper{
        background-size: 115% 4000px;
    }
}

@media screen and (max-width: 1040px) {
    #wrapper{
        background-size: 114% 4050px;
    }
}

@media screen and (max-width: 940px) {
    #wrapper{
        background-size: 115% 4070px;
    }
}

@media screen and (max-width: 840px) {
    #wrapper{
        background-size: 115% 4100px;
    }
}

@media screen and (max-width: 800px) {
    #wrapper{
        background-size: 116% 4150px;
    }
}

#header-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 902px;
    background-size: cover;
}

#content-wrapper{
    position: absolute;
    top: 900px;
    width: 100%;
}

.header-nav{
    margin-top: 40px;
    font-size: 21px;
    font-weight: bold;
}

.nav-link {
    display: inline-block;
    float: left;
    margin-right: 50px;
}
.nav-lin:last-child {
    margin-right: 0;
}
.nav-link:hover{
    color: #ffffff;
}

.header-center{
    position: absolute;
    top: 280px;
    height: 120px;
    width: 100%;
    background-color: rgba(245,229,216, 0.5);
}

#logo{
    height: 90%;
    float: left;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(7%);
    -ms-transform: translateY(5%);
    transform: translateY(7%);
}

.logo-img{
    display: inline-block;
    height: 70px;
    width: 300px;
}

.logo-img img{
    height: 100%;
    width: 100%;
}

.logo-descr{
    display: block;
    color: #fff;
    font-size: 27px;
    text-align: right;
    word-spacing: 15px;
    letter-spacing: 1px;
    margin-top: 5px;
}

.tracking-button-block{
    float: right;
    height: 120px;
}

.tracking-button{
    display: block;
    width: 100%;
    font-size: 27px;
    font-weight: lighter;
    letter-spacing: 1px;
    background: url("../img/tracking-icon.png") no-repeat 90% center;
    height: 120px;
    line-height: 120px;
    padding-right: 120px;
    padding-left: 15px;
}

.tracking-button:hover{
    background-color: rgba(245,229,216, 0.6);
}

.article-block{
    padding: 0 30px;
    color: white;
    position: relative;
}


#about-anchor{
    position: absolute;
    top: 0;
}


.article-header{
    display: inline-block;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    line-height: 55px;
    margin-bottom: 20px;
    max-width: 650px;
}

.article{
    margin-top: 55px;
    position: relative;
    margin-bottom: 100px;
}

.article p {
    text-indent: 50px;
    font-size: 22px;
    font-weight: lighter;
    line-height: 28px;
    margin-bottom: 20px;
    clear: both;
    text-align: justify;
}

.article-header .text-right{
    float: right;
}

.price-block{
    margin-top: 80px;
    position: relative;
}

#price-anchor{
    position: absolute;
    top: -50px;
}

@media screen and (max-width: 900px) {
    .price-block{
        margin-top: 100px;
    }
}


.price-block .article-header{
    margin-left: 30px;
}

.bonuses {
    display: none;
}

.price-items-container {
    position: relative;
    margin-bottom: 50px;
}

.price-item{
    text-align: center;
    position: relative;
    width: 28%;
    margin-right: 8%;
    height: 170px;
    float: left;
    margin-top: 0;
    margin-bottom: 30px;
}
.price-item:nth-child(3n){
    margin-right: 0;
}

.price-item img{
    position: center;
    height: 80px;
    max-width: 190px;
}

.item-descr{
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    width: 250px;
    margin: 0 auto;
}

.price-item:nth-child(5) img{
    width: 250px;
    margin-bottom: 15px;
}

.price-item:nth-child(5) .item-descr{
    width: 300px;
}

.price-item:nth-child(6){
    margin-top: 100px;
}

.price-item:nth-child(6) img{
    width: 200px;
    margin-bottom: 10px;
}

.price-block .description {
    color: #fff;
    font-size: 22px;
    line-height: 25px;
}

.price-block .description li {
    padding-left: 20px;
}

.video-block {
    position: relative;
    height: 500px;
    margin-bottom: 150px;
}

.video-block video {
    display: block;
    width: 100%;
    margin: 70px auto 0;
    border: 1px solid #5C77E1;
    border-radius: 5px; 
}

.video-block video:hover{
    cursor: pointer!important;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(92,119,225,0.6);
    -moz-box-shadow: 0px 0px 30px 0px rgba(92,119,225,0.6);
    box-shadow: 0px 0px 30px 0px rgba(92,119,225,0.6);
    transition: 1s box-shadow;
}

.setup-block {
    position: relative;
}

#setup-anchor{
    position: absolute;
    top: -50px;
}

@media screen and (max-width: 900px) {
    .setup-block{
        bottom: -50px;
    }
}


.setup-item {
    position: relative;
    text-align: center;
    width: 25%;
    margin-right: 12.5%;
    height: 180px;
    float: left;
    margin-bottom: 30px;
}

.setup-item img{
    width: 100px;
}

.setup-item:nth-child(3n){
    margin-bottom: 80px;
}

.setup-item:nth-child(3n){
    margin-right: 0;
}

.setup-item .item-descr{
    width: 230px;
}

.setup-item:nth-child(5) .item-descr{
    margin-top: 20px;
}

.setup-item:nth-child(5) img{
    margin-top: 20px;
}

.setup-item:nth-child(-n + 2):after{
    content: '';
    width: 40px;
    height: 60px;
    background: url("../img/arrow.png") no-repeat;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    background-size: contain;
    position: absolute;
    z-index: 999;
    top: 20px;
    left: 120%;
}

.setup-item:nth-child(3):after{
    content: '';
    width: 40px;
    height: 60px;
    background: url("../img/arrow.png") no-repeat;
    background-size: contain;
    z-index: 999;
    position: absolute;
    top: 190px;
    left: 45%;
}

.setup-item:nth-child(4):after,
.setup-item:nth-child(5):after {
    content: '';
    width: 40px;
    height: 60px;
    background: url("../img/arrow.png") no-repeat;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    background-size: contain;
    position: absolute;
    z-index: 999;
    right: -30%;
    top: 20px;
}

.contact-block {
    max-width: 1000px;
    margin: 150px auto 0;
    padding: 0 20px;
    color: #fff;
}

.contact-header{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: -30px;
}

.contacts-list{
    margin-top: 70px;
    margin-bottom: 50px;
}

.contacts-list:first-child{
    float: left;
}

.contacts-list:last-child{
    float: right;
    margin-top: -175px;
}

.contacts-list li{
    font-size: 22px;
    color: #fff;
    width: 100%;
    margin-bottom: 15px;
    height: 45px;
}

.contacts-list li a{
    color: white;
    display: inline-block;
    margin-left: 20px;
    line-height: 45px;
}

.contacts-list a:hover{
    border-bottom: 1px solid #fff;
}

.inst-contact{
    padding-left: 40px;
    background: url("../img/inst-ico.png")
no-repeat center left;
}

.fb-contact{
    padding-left: 40px;
    background: url("../img/fb-ico.png")
    no-repeat center left;
}

